@import "~@/assets/scss/database.scss";
.homepage{
  &__box {
    max-width: 1440px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    &_shadows {
      width: 33%;
      display: inline-flex;
    }
    &_text {
      width: 50%;
      text-align: center;
      margin: 2rem auto 5rem auto;
      h1 {
        font-size: 4rem;
        color: $base-color-grey;
        margin-bottom: 1rem;
        font-weight: 100;
      }
      p {
        margin-bottom: 2rem;
      }
    }
  }
  @media only screen and (max-width: 800px) {
    &__box {
      &_shadows {
        display: inline;
      }
    }
  }
}
@include animatedscrollY;
