@import "~bulma/sass/utilities/initial-variables";
// color
$base-color-blue: #98d8e3;
$base-color-expressive-blue: #30cafa;
$base-color-full-blue: #0099ff;
$base-color-dark-blue: #1261a0;
$base-color-navy-blue: #072f5f;
$base-color-sea: #14ccc4;
$base-color-white: #ffffff;
$base-color-ghost-white: #f8f8ff;
$base-light-gray: #F5F5F5;
$base-color-grey: #ababab;
$base-color-graphite: #1e1e1e;
$base-color-black: #000000;
$base-color-red: #e94b35;
//scss repeat
@mixin lineForHamburger {
  width: 100%;
  height: 3px;
  background-color: $base-color-blue;
  position: absolute;
}
@mixin starter {
  max-width: 1440px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@mixin resetButton {
  background-color: transparent;
  border: 0;
  margin: 0;
  outline: none;
}
@mixin animatedscrollY {
  .before-animatedscroll {
    opacity: 0;
    transform: translateY(200px);
    transition: all 1s ease-out;
  }
  .animatedscroll{
    opacity: 1;
    transform: translateY(0px);
  }
}

