@import "~@/assets/scss/database.scss";
.component__boxshadow {
  text-align: center;
  &_container {
    display: inline-block;
    &_box{
      padding: 2rem;
      &_shadow {
        min-height: 12rem;
        max-width: 22rem;
        border-radius: 20px;
        box-sizing: border-box;
        padding: 2rem;
        margin-right: auto;
        margin-left: auto;
        box-shadow: -1px 2px 37px -9px rgba(0, 0, 0, 0.2);
        transition: all 1s ease-in-out;
        background-color: white;
        &:hover {
          box-shadow: none;
        }
        img {
          width: 2rem;
        }
        &_line {
          width: 60%;
          height: 0.1rem;
          background-color: #98d8e3;
          margin-top: 0.5rem;
          margin-left: auto;
          margin-right: auto;
        }
        p {
          text-align: center;
        }
      }
    }
  }
  @media only screen and (max-width: $desktop) {
    &_container {
      display: block;
      &_box {
        &_shadow {
          max-width: 100%;
        }
      }
    }
  }
}
