@import "~@/assets/scss/database.scss";
.component{
  &__boxanimated {
    &:before {
      content: '';
      background-color: $base-color-blue;
      width: 100%;
      position: absolute;
      left: 0;
      height: 40rem;
      z-index: -2;
    }

    &--expresive-blue {
      &:before {
        background-color: $base-color-expressive-blue;
      }
    }

    &--dark-blue {
      &:before {
        background-color: $base-color-dark-blue;
      }
    }

    &--navy-blue {
      &:before {
        background-color: $base-color-navy-blue;
      }
    }

    &--light-grey {
      &:before {
        background-color: $base-light-gray;
      }
    }

    &--grey {
      &:before {
        background-color: $base-color-grey;
      }
    }

    &_animation {
      margin-top: -3rem;
    }

    @include animatedscrollY;
    @media only screen and (max-width: 1700px) {
      &:before {
        height: 30rem;
      }
      &_animation {
        width: 90rem;
      }
    }
    @media only screen and (max-width: 1450px) {
      &_animation {
        width: 100%;
      }
    }
  }
}
