@import "~@/assets/scss/database.scss";
.header__box_top {
  &_nav {
    margin-top: 0.5rem;
    grid-column: none;
    z-index: 999;
    &_items {
      margin-top: 0;
      max-width: 100%;
      &_hamburger {
        text-align-last: right;
        margin-right: 2rem;
        &_menu {
          ul {
            text-align-last: auto;
            z-index: 5;
            display: inline-flex;
            margin-top: 1rem;
            li {
              z-index: 5;
              margin-left: 4rem;
              list-style: none;
            }
          }
          a {
            text-decoration: none;
            color: $base-color-black;
          }
          &_backgraund {
            display: none;
          }
          &--active {
            ul {
              text-align-last: auto;
              z-index: 5;
              display: inline-flex;
              margin-top: 1rem;
              li {
                z-index: 5;
                margin-left: 4rem;
                list-style: none;
                a {
                  text-decoration: none;
                  color: $base-color-black;
                }
              }
            }
          }
        }
        &_line {
          z-index: 11;
          @include resetButton;
          display: inline-block;
          cursor: pointer;
          &_box {
            display: none;
            width: 35px;
            height: 24px;
            position: relative;
          }
          &_inner {
            @include lineForHamburger;
            left: 0;
            top: 50%;
            z-index: 11;
            transform: translateY(-50%);
            transition: background-color .1s .2s ease-in-out;
            &:before, &:after {
              @include lineForHamburger;
              content: '';
              left: 0;
              transition: transform .2s .2s ease-in-out;
            }
            &:before {
              top: -10px;
            }
            &:after {
              top: 10px;
            }
          }
          &--active {
            @include resetButton;
          }
          &--active .header__box_top_nav_items_hamburger_menu {
            display: none;
          }
          &--active .header__box_top_nav_items_hamburger_line_inner {
            background-color: transparent;
            position: fixed;
            width: 2rem;
            margin-left: 90%;
            margin-top: -25.5rem;
          }
          &--active .header__box_top_nav_items_hamburger_line_inner:before {
            transform: translateY(10px) rotate(45deg);
          }
          &--active .header__box_top_nav_items_hamburger_line_inner:after {
            transform: translateY(-10px) rotate(-45deg);
          }
        }
      }
    }
  }
  @media only screen and (max-width: $desktop) {
    &_nav {
      &_items {
        margin-top: 1.5rem;
        &_hamburger {
          &_menu {
            display: none;
            &_backgraund {
              height: 40rem;
              padding-right: 1.8rem;
              transition: all 0.5s ease;
            }
            &--active {
              position: fixed;
              top: 0;
              right: 2rem;
              ul {
                display: block;
                position: relative;
                margin-right: 2rem;
                li {
                  z-index: 100;
                  list-style: none;
                  margin-top: 8rem;
                  font-size: 1.2rem;
                  color: $base-color-white;
                  text-transform: uppercase;
                  a {
                    text-decoration: none;
                    color: $base-color-blue;
                  }
                }
              }
            }
            &--active .header__box_top_nav_items_hamburger_menu_backgraund {
              display: block;
              background-color: $base-color-graphite;
              opacity: 0.9;
              top: 0;
              left: 0;
              position: absolute;
              width: 100vw;
              height: 100vh;
            }
          }
          &_line {
            &_box {
              cursor: pointer;
              top: 1rem;
              display: block;
            }
          }
        }
      }
    }
  }
}
