@import "~@/assets/scss/database.scss";
.header {
  &__slider {
    &_area {
      &_box {
        margin-top: 20rem;
        &_bg {
          animation: slide 6s ease-in-out infinite alternate;
          background-image: linear-gradient(-60deg, $base-color-sea 50%, $base-color-full-blue 50%);
          bottom: 0;
          left: -50%;
          opacity: 0.5;
          position: absolute;
          right: -50%;
          margin-top: 7rem;
          height: 50%;
          top: 0;
          z-index: -1;
        }
        .bg2 {
          left: -50%;
          right: -50%;
          animation-direction:alternate-reverse;
          animation-duration:6s;
        }
        .bg3 {
          animation-duration:8s;
        }
        .bg4 {
          animation: none;
          left: 0;
          right: 0;
          opacity: 0.1;
          background-image: url('../../../assets/img/baner_artolo1.jpg');
          background-repeat: no-repeat
        }
        @keyframes slide {
          0% {
            transform:translateX(-25%);
          }
          100% {
            transform:translateX(25%);
          }
        }
      }
    }
  }
}
