@import "~@/assets/scss/database";
.header {
  &__box {
    @include starter;
    &_top {
      display: grid;
     &_logo {
       svg {
         margin-top: 0.5rem;
         transition: all 0.5s ease;
       }
     }
    }
  }
  @media only screen and (max-width: $desktop) {
    &__box {
      &_top {
        &_logo {
          svg {
            width: 13rem;
            margin-top: 1rem;
          }
        }
      }
    }
  }
}
