@import "~@/assets/scss/database";
.header {
  &__box {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    &_top {
      display: grid;
     &_logo {
       svg {
         width: 45%;
         transition: all 0.5s ease;
       }
     }
    }
  }
  @media only screen and (max-width: $desktop) {
    &__box {
      &_top {
        &_logo {
          svg {
            width: 13rem;
            margin-top: 1rem;
          }
        }
      }
    }
  }
}
