.header {
  &__box {
    min-width: 920px;
    width: 90%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    &_top {
      display: inline-flex;
     &_logo {
       svg {
         width: 20rem;
       }
     }
      &_nav {
        position: absolute;
        margin-left: 60%;
        &_items {
          margin-top: 1.5rem;
          max-width: 100%;
          ul {
            display: inline-flex;
            li {
              margin-left: 4rem;
              list-style: none;
            }
          }
        }
      }
    }
  }
}
