@import "~@/assets/scss/database.scss";
.footer {
  max-width: 1440px;
  text-align: center;
  margin: 8rem auto 0 auto;
  h4 {
    position: absolute;
    margin-top: -1rem;
    z-index: -1;
    margin-left: 44rem;
    color: $base-light-gray;
    opacity: 0.7;
    font-weight: 300;
  }
  &__contactform {
    &:before {
      content: '';
      background-image: url('../../../assets/img/baner_artolo4.jpg');
      width: 100%;
      position: absolute;
      left: 0;
      height: 40rem;
      z-index: -2;
    }
  }
  @media only screen and (max-width: 1100px) {
    h4 {
      margin-top: -3rem;
      margin-left: 30%;
    }
  }
  @media only screen and (max-width: 400px) {
    h4 {
      margin-top: -3rem;
      margin-left: 10%;
    }
  }
}
