.main {
  &__content {
    &_box {
      &_z0 {
        height: 10rem;
      }
      &_z1 {
        height: 10rem;
        background-color: #b4e6fa;
      }
      &_z2 {
        height: 10rem;
      }
      &_z3 {
        height: 10rem;
        background-color: #b4e6fa;
      }
      &_z4 {
        height: 10rem;
      }
      &_z5 {
        height: 10rem;
        background-color: #b4e6fa;
      }

    }
  }
}
